window {
	color: white;
}

#ExoView {
	background-image: url(bg.png);
	color: white;

}

navigation-bar {
	background-color: black;
	color: #59C6A7;
}

title {
	font-family: 'Avenir Next';
	font-size: 20px;
	font-weight: 400;
	color: white;
}

text-view {
	opacity: .8;
}

tab-bar {
	background-color: black;
	color: white;
}

text-label {
	color: white;
	font-family: 'Avenir Next'
}

.PlanetText {
	font-family: 'Avenir Next';
	font-weight: 400;
	font-size: 16px;
	color: white;
}

.h1 {
  font-size: 30pt;
  height: 34;
  font-family: 'Avenir Next';
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

.message {
	color: white;
	font-family: 'Avenir Next';
	font-size: 16px;
}


#AdlerView {
	background-image: url(bg.png);
	color: white;
}
#GeoCacheView {
	background-image: url(bg.png);
	color: white;
}

#GeoCacheView button {
	background-color: black;
	color: white;
	opacity: .5;
	width: 280px;
	height: 60px;
}

toolbar {
	background-color: black;
}

bar-button-item {
	color: white;
	-ios-tint-color: white;
}

#GeoBody {
	font-family: 'Avenir Next';
	font-weight: 400;
	font-size: 20px;
	opacity: .5;
	text-align: center;
	color: white;
}

#ActionCallLabel {
	font-family: 'Avenir Next';
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #59C6A7;
}

#SystemsView {
	/*background-image: url(bg.png);*/
	background-color: black;
	color: white;
}
#VisitedView {
	color: white;
	background-color: black;
}

